<div class="sidebar height-100vh" id="sidebar">
    <ul class="sidebar-menu list-unstyled">
         <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/index" ng-class="{ 'active': g.getActiveClass('/index') }">
                <i class="fa fa-home mr-3 text-gray">
                </i>
                <span>
                    Home
                </span>
            </a>
        </li>
         <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/category" ng-class="{ 'active': g.getActiveClass('/category') }">
                <i class="fa fa-list mr-3 text-gray">
                </i>
                <span>
                    Category
                </span>
            </a>
         </li>
         <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/subcategory" ng-class="{ 'active': g.getActiveClass('/subcategory') }">
                <i class="fa fa-list-ol mr-3 text-gray">
                </i>
                <span>
                    Sub Category
                </span>
            </a>
        </li> 
         <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/storedetail" ng-class="{ 'active': g.getActiveClass('/storedetail') }">
                <i class="fa fa-bank mr-3 text-gray"></i>
                <span>
                    Store Details
                </span>
            </a>
        </li> 
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/company" ng-class="{ 'active': g.getActiveClass('/company') }">
                <i class="fa fa-building mr-3 text-gray">
                </i>
                <span>
                    Company
                </span>
            </a>
        </li> 
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/texdetail" ng-class="{ 'active': g.getActiveClass('/texdetail') }">
                <i class="fa fa-usd mr-3 text-gray">
                </i>
                <span>
                    Tex Rate
                </span>
            </a>
        </li> 
       <!--  <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/discount" ng-class="{ 'active': g.getActiveClass('/discount') }">
                <i class="fa fa-scissors mr-3 text-gray">
                </i>
                <span>
                    Discount
                </span>
            </a>
        </li>  -->
         <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/contact" ng-class="{ 'active': g.getActiveClass('/contact') }">
                <i class="fa fa-handshake-o mr-3 text-gray">
                </i>
                <span>
                    Contact
                </span>
            </a>
        </li> 
         <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/barcode" ng-class="{ 'active': g.getActiveClass('/barcode') }">
                <i class="fa fa-barcode mr-3 text-gray">
                </i>
                <span>
                    Barcodes
                </span>
            </a>
        </li> 
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/brand" ng-class="{ 'active': g.getActiveClass('/brand') }">
                <i class="fa fa-thumbs-o-up mr-3 text-gray">
                </i>
                <span>
                    Brand
                </span>
            </a>
        </li> 
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/currencies" ng-class="{ 'active': g.getActiveClass('/currencies') }">
                <i class="fa fa-money mr-3 text-gray">
                </i>
                <span>
                    Currencies
                </span>
            </a>
        </li> 
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/customergroup" ng-class="{ 'active': g.getActiveClass('/customergroup') }">
                <i class="fa fa-users mr-3 text-gray">
                </i>
                <span>
                    Customer Group
                </span>
            </a>
        </li> 
         <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/expcategory" ng-class="{ 'active': g.getActiveClass('/expcategory') }">
                <i class="fa fa-money mr-3 text-gray">
                </i>
                <span>
                    Expense Categories
                </span>
            </a>
        </li> 
         <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/unit" ng-class="{ 'active': g.getActiveClass('/unit') }">
                <i class="fa fa-building mr-3 text-gray">
                </i>
                <span>
                    Unit
                </span>
            </a>
        </li>
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/business" ng-class="{ 'active': g.getActiveClass('/business') }">
                <i class="fa fa-money mr-3 text-gray">
                </i>
                <span>
                    Business
                </span>
            </a>
        </li> 
        <li class="sidebar-list-item">
            <a class="sidebar-link text-muted" href="#!/product" ng-class="{ 'active': g.getActiveClass('/product') }">
                <i class="fa fa-product-hunt mr-3 text-gray">
                </i>
                <span>
                    Product
                </span>
            </a>
        </li>
    </ul>
</div>